#about-us {
    background-color: #ffcc55;
}

a:link, a:visited {
    text-decoration: none;
}

.links{
    display: list-item;
}
.links :nth-child(1){
    color: #fac544;
}
.links :nth-child(2){
    color: #f45134;
}
.links :nth-child(3){
    color: #ff44aa;
}
.links :nth-child(4){
    color: #ff3224;
}
#skills div {
    width: 100px;
    height: 100px;
}

.numer1 {
    background-color: #111;
    display: inline-block;
}

.numer2 {
    background-color: #222;
    display: inline-block;
}

.numer3 {
    background-color: #333;
    display: inline-block;
}

.numer4 {
    background-color: #444;
    display: inline-block;
}
#portfolio div{
    width: 200px;
    height: 200px;
}
.portfolio1 {
    border: 2px solid #00ffaa
}
.portfolio2 {
    border: 2px solid #00aaaa
}
.portfolio3 {
    border: 2px solid #0022aa
}

input[type=button] {
    width: 100px;
    height: 50px;
    color: #002266;
    background-color: #ffb;
}